<% provide(:title, "Log In") %>


<div class="wrapper">
  <h1>Log in</h1>
  <%= bootstrap_form_for(:session, url: login_path) do |f| %>
    <%= f.text_field :email, id: 'email' %>
    <%= f.password_field :password, id: 'password' %>
    <div class="d-inline">
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <div class="margin_small_inline">New user?</div>
      <span class="reference"><%= link_to "Sign up now!", signup_path %></span>
    </div>
  <% end %>
</div>

