- provide(:title, "Sign up")
.wrapper

  %h1 Sign up
  = bootstrap_form_for(@user,url: signup_path) do |f|
    = render 'shared/error_messages'
    = f.text_field :username
    = f.password_field :password
    = f.password_field :password_confirmation
    = f.submit "Create my account", class: "btn btn-primary"


