<% provide(:title, "Expenses") %>
<h1>Expenses</h1>

<div style=" margin:auto;" class="center">

  <% if @first_time %>
    <h3>No records yet</h3>
    <a class="btn btn-warning" href="/">back</a>
    <a class="btn btn-success" href=" <%= new_expense_path %>">new expense</a>
    </div>
  <% else %>
    <% if current_user %>
      <table id="customers" class="sort">
        <thead>
        <tr>
          
          <th>User</th>
          <th>Amount</th>
          <th onclick="sortText(2, 'customers')">Category</th>
          <th onclick="sortText(3, 'customers')">Description</th>
          <th onclick="sortText(7, 'customers')">Created</th>
          <th>Edit</th>
          <th>Delete</th>
          <th style="display: false;"></th>  <!-- This header is the hidden expense entered date for sorting -->
        </tr>
        </thead>

        <tbody>


        <% @expenses.each do |expense| %>
          <tr>

            <% if expense.user.username == current_user.username %>
              <td ><%= expense.user.username %></td>
              <td><%= number_to_currency expense.amount %></td>
              <td><%= expense.category %></td>
              <td><%= expense.description %></td>
              <td><%= time_ago_in_words(expense.created_at) %> ago </td>
              <td><%= link_to 'edit', edit_expense_path(expense) %> </td>
              <td><%= link_to 'delete', expense, method: :delete, data: {confirm: 'Are you sure?'} %></td>
              <!-- Below td tag is the hidden expense entered date that is needed for sorting -->
              <td style="display: false;"><%= expense.created_at %> ago </td>
            <% end %>
          </tr>
        <% end %>

    <% end %>

  </tbody>
  </table>
  <br>
  <div id="left"><a class="btn btn-default" href=" <%= new_expense_path %>">new expense</a></div>
  <% end %>
  
  <script>
  /*
    function sort() : This function uses a simple sort to sort a table 
      into ascending order.
    param colToSort: index value of the column to sort by
    param tableId:   html id value of the table that will be sorted
  */
  function sortText(colToSort,tableId){
    var table = document.getElementById(tableId); //Create a table object
    var rows = table.rows;  //Create an array representing all the rows as elements
    var current, next;  //Holds the value of the now and the next
 
 
    // Find out the number of rows and store in numRows variable
     var numRows = 0;
    for (i = 0; i < rows.length; i++) {
      if (rows[i].getElementsByTagName("td").length > 0) {
        numRows += 1;
      }
    }

    /*The next two for-loops iterate through all rows in table and sorts them 
      into ascending order */
    for(i = 1; i < numRows; i++){
      for(j = 1; j < numRows; j++){
      
        current = rows[j].getElementsByTagName("td")[colToSort];
        next = rows[j + 1].getElementsByTagName("td")[colToSort];
      
        //Check if the values need swapped
        if(current.innerHTML.toLowerCase() > next.innerHTML.toLowerCase()){
          rows[j].parentNode.insertBefore(rows[j + 1], rows[j]); //Swap the values
        } 
      
      }  // End of inner for-loop
    } //End of outer for-loop
  }  // End of sort function
  
</script>


