<table id="customers">
  <thead>
  <tr>
    <th >User</th>
    <th>Amount</th>
    <th>Category</th>
    <th>Description</th>
    <th>Created</th>

    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>


  <% @expenses.each do |expense| %>
    <tr>

      <% if expense.user.username == current_user.username %>
        <td ><%= expense.user.username %></td>
        <td><%= number_to_currency expense.amount %></td>
        <td><%= expense.category %></td>
        <td><%= expense.description %></td>
        <td><%= expense.created_at.strftime("%Y-%m-%d %H:%m") %>  </td>

        <td><%= link_to 'edit', edit_expense_path(expense) %> </td>
        <td><%= link_to 'delete', expense, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <% end %>
    </tr>
  <% end %>

  </tbody>
</table>